@import './variables.scss';
@import './mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  @include app-background;
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  backdrop-filter: blur(10px);
  color: $app-text-color;
}

nav {
  @include fd-row;
}

button {
  @include app-button;
}

input, textarea, button {
  appearance: none;
}

.container {
  padding: 1rem;
  max-width: 160rem;
  margin: 0 auto;
  width: 100%;
}

.hide {
  display: none;
}

.blur {
  filter: blur(3px);
}
