@mixin flex-center {
  display: flex;
  justify-content: center;
}

@mixin fd-row {
  display: flex;
  flex-direction: row;
}

@mixin fd-column {
  display: flex;
  flex-direction: column;
}

@mixin shadow-box {
  border-radius: $radius;
  border: 1px solid transparentize(#1a191975, 0.5);
  background: transparentize(#fff, 0.6);
  overflow: hidden;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.13);
}


@mixin app-button {
  padding: 15px 25px;
  background-color: $app-button-color;
  border: 0;
  color: #fff;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: $radius;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

//эффект матовое стекло
@mixin glass-effect {
  background: inherit;
  overflow: hidden;
  &::before {
    position: absolute;
    content: '';
    background: inherit;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: inset 0 0 0 3000px rgba(150, 150, 150, 0.192);
    filter: blur(10px);
    border-radius: $radius;
  }
}
