$app-background-color: #010409;
$app-text-color: #f0f6fc;
$app-text-color-extra: rgba(9, 9, 9, 0.4);

$app-accent-color: #59a7a5;
$app-button-color: #0cc;

$column-component-background-color: #e7e6eb00;
$task-background-color: #0d1117;

$radius: 1.5rem;
