$app-background-color: #417ea75b;
$app-text-color: #000;
$app-text-color-extra: rgba(9, 9, 9, 0.4);

$app-accent-color: #2392DEBA;
$app-button-color: #417ea796;

$task-type: #f4a3ca;

$task-list-background-color: #e7e6eb00;
$task-background-color: #fff;

$radius: 1.5rem;
$min-task-height: 40px;
