$app-background-color: #417ea75b;
$app-text-color: #000;
$app-text-color-extra: rgba(9, 9, 9, 0.4);

$app-accent-color: #59a7a5;
$app-button-color: #0cc;

$column-component-background-color: #e7e6eb00;
$task-background-color: #fff;

$radius: 1.5rem;
