.column-component {
  @include shadow-box;
  @include fd-column;

  position: relative;
  padding: 1rem;
  margin: 0 0 1rem 1rem;
  width: 300px;
  overflow: hidden;
  transition: all .3s ease;
  background: -webkit-linear-gradient(146deg, rgba(174, 246, 216, 0.56), rgba(153, 239, 245, 0.73), rgba(255, 209, 243, 0.73));
  border: 1px solid rgba(43, 43, 43, 0.568);


  &-header {
    margin: 1rem 0 1rem 0;
    cursor: pointer;
  }

  &-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;

    img {
      width: 10px;
      filter: brightness(0) saturate(100%) invert(40%) sepia(11%) saturate(6%) hue-rotate(53deg) brightness(97%) contrast(87%);
    }
  }

  &-body {
    padding-bottom: 5rem;
  }
}

.add-task {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(142, 141, 141, 0.8);
  cursor: pointer;

  img {
    display: block;
    width: 40px;
    height: 40px;
    pointer-events: none;
    margin-right: .5rem;
  }
}

.delete-column {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;

  img {
    display: block;
    width: 30px;
    height: 30px;
    pointer-events: none;
    filter: brightness(0) saturate(100%) invert(56%) sepia(0%) saturate(502%) hue-rotate(210deg) brightness(90%) contrast(90%);
  }
}

.column-component.remove {
  user-select: none;
  animation: remove-column .5s ease;
}

@keyframes remove-column {
  0% {
    opacity: 1;
  }

  100% {
    width: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
    transform: translate3d(0, -2000px, 0);
  }

}

.modal-message {
  @include shadow-box;
  width: 300px;
  padding: 1em;
  border-radius: $radius;
}

.ghost {
  opacity: 0.5;
  background-color: #f0f0f0;
}
