.column-component {
  @include shadow-box;
  @include fd-column;

  position: relative;
  margin: 0 0 1rem 1rem;
  width: 300px;
  overflow: hidden;
  transition: all .3s ease;

  &-header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &-title {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 600;
  }
}

.column-tools {
  display: flex;
  justify-content: flex-end;
}

.column-component.remove {
  user-select: none;
  animation: remove-column .5s ease;
}

@keyframes remove-column {
  0% {
    opacity: 1;
  }

  100% {
    width: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
    transform: translate3d(0, -2000px, 0);
  }

}
