.task-list {
  @include shadow-box;
  @include fd-column;

  position: relative;
  margin: 0 0 1rem 1rem;
  width: 300px;


  &-header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &-title {
    font-size: 2rem;
    font-weight: 600;
  }

}


.task-list.remove {
  user-select: none;
  animation: remove-list .5s ease;
}

@keyframes remove-list {
  0% {
    opacity: 0;
    overflow: hidden;
  }

  70% {
    width: 0;
    margin: 0 ;
    padding: 0;
  }

  100% {
    opacity: 0;
    width: 0;
    margin: 0 ;
    padding: 0;
    overflow: hidden;
  }
}

.list-tools {
  display: flex;
  justify-content: flex-end;

}
